<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans 
						http://www.springframework.org/schema/beans/spring-beans-3.0.xsd">

<!-- <?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans 
	   					   http://www.springframework.org/schema/beans/spring-beans.xsd">
 -->


	<!-- 
		id : 메서드 이름 
		class : 주입할 실제 클래스 경로+이름 
		
			property : 의존관계 주입 속성
			name : 메서드 이름 
			ref : 주입될 빈의 이름 
	 -->
	<bean id="mariaDBProperties" class="java.util.Properties">
		<property name="driver" value="org.mariadb.jdbc.Driver"/>
		<property name="url" value="jdbc:mariadb://192.168.35.155:3306/eng"/>
		<property name="user" value="english"/>
		<property name="password" value="1234"/>
	</bean>
	<bean id="myDataSourceFactory" class="base.MyDataSourceFactory"/>
	<bean id="userDao" class="c1.xml.UserDao">
		<!-- 주입받는 빈은 기본 생성자를 추가해주어야 하는데(추가하지 않으면 에러발생)함 -> 생성자 추가하는 태그를 추가함  -->
		 <constructor-arg ref="connectionMaker"/>
		<!-- <property name="connectionMaker" ref="connectionMaker"/> -->
	</bean>

</beans>